// Global
@mixin for-mini-phone {
    @media (max-width: 370px) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width: 600px) {
        @content;
    }
}

// Splash 

.splash {
    background-image: url(../images/splash.jpg);
    object-fit: cover;
    position: relative;

    .logo-company {
        font-family: 'Satisfy', cursive;
        font-size: 2.5rem;
    }

    .splash-inner {
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            @include for-mini-phone {
                font-size: 2rem;
            }

            @include for-phone {
                font-size: 2.5rem;
            }
        }

        .btn {
            font-size: 1rem;
        }

    }
}

// Services

.services {
    .card {
        border: none;

        span {
            font-size: 2.5rem;
            border: 3px solid;
        }
    }
}

// Portfolio
.portfolio {
    background-color: rgba(209, 214, 213, 0.5);

    .portfolio-elements {

        .card {
            border: none;


            img {
                height: 250px;
                object-fit: cover;
            }
        }
    }
}

// Footer

footer {
    ul {
        font-size: 0;

        span {
            font-size: 1.5rem;
        }
    }
}